Repository skyra-project/arkadia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kyranet, @favna, @Tylertron1998

.github/CODEOWNERS:

# Just Kyra
/LICENSE @kyranet

# Just Favna
/.github/ @favna
/.devcontainer/ @favna
/.vscode/ @favna
/.gitignore @favna

# Tyler & Kyra
/Skyra.Database/ @Tylertron1998 @kyranet
/Skyra.Grpc/ @Tylertron1998 @kyranet
/Skyra.IntegrationTests/ @Tylertron1998 @kyranet
/Skyra.Shared/ @Tylertron1998 @kyranet
/Skyra.UnitTests/ @Tylertron1998 @kyranet

chore: add test ps1 script
  scripts/test.ps1
Owners: none

ci: remove superfluous script
  .github/workflows/update-tlds.yml
Owners: @favna

chore: update devcontainer config
  .devcontainer/devcontainer.json
Owners: @favna

chore: update submodule url
  .gitmodules
Owners: none

Update README.md
  README.md
Owners: none

chore: update readme (#1)
  README.md
Owners: none

chore: fix continuous delivery
  .github/workflows/continuous-delivery.yml
Owners: @favna

remove Skyra.Grpc
  Skyra.Grpc/Program.cs
  Skyra.Grpc/Properties/launchSettings.json
  Skyra.Grpc/Services/GiveawayService.cs
  Skyra.Grpc/Services/GuildService.cs
  Skyra.Grpc/Services/MemberService.cs
  Skyra.Grpc/Services/RunnerService.cs
  Skyra.Grpc/Services/ScheduleService.cs
  Skyra.Grpc/Services/SocialService.cs
  Skyra.Grpc/Services/StarboardService.cs
  Skyra.Grpc/Services/UserService.cs
  Skyra.Grpc/Skyra.Grpc.csproj
  Skyra.Grpc/Startup.cs
  Skyra.Grpc/appsettings.Development.json
  Skyra.Grpc/appsettings.json
Owners: @Tylertron1998, @kyranet

stop ignorning .idea folder
  .gitignore
Owners: @favna

cleanup unused database models and methods
  sources/Database/IDatabase.cs
  sources/Database/Models/Entities/Banner.cs
  sources/Database/Models/Entities/Client.cs
  sources/Database/Models/Entities/Giveaway.cs
  sources/Database/Models/Entities/Member.cs
  sources/Database/Models/Entities/Migration.cs
  sources/Database/Models/Entities/Moderation.cs
  sources/Database/Models/Entities/RpgBattle.cs
  sources/Database/Models/Entities/RpgClass.cs
  sources/Database/Models/Entities/RpgGuild.cs
  sources/Database/Models/Entities/RpgGuildRank.cs
  sources/Database/Models/Entities/RpgItem.cs
  sources/Database/Models/Entities/RpgUser.cs
  sources/Database/Models/Entities/RpgUserItem.cs
  sources/Database/Models/Entities/Schedule.cs
  sources/Database/Models/Entities/Starboard.cs
  sources/Database/Models/Entities/Suggestion.cs
  sources/Database/Models/Entities/TwitchStreamSubscription.cs
  sources/Database/Models/Entities/User.cs
  sources/Database/Models/Entities/UserCooldown.cs
  sources/Database/Models/Entities/UserGameIntegration.cs
  sources/Database/Models/Entities/UserProfile.cs
  sources/Database/Models/Entities/UserSpousesUser.cs
  sources/Database/SkyraDatabase.cs
  sources/Database/SkyraDbContext.cs
  tests/IntegrationTests/Database/SkyraDatabaseTests.cs
  tests/IntegrationTests/Database/Utils.cs
  tests/UnitTests/Database/SkyraDatabaseTests.cs
Owners: none

intelliJ pls
  .idea/.idea.Skyra/.idea/.gitignore
  .idea/.idea.Skyra/.idea/.name
  .idea/.idea.Skyra/.idea/encodings.xml
  .idea/.idea.Skyra/.idea/indexLayout.xml
  .idea/.idea.Skyra/.idea/vcs.xml
Owners: none

change CPU configuration to not include x86
  Arkadia.sln
Owners: none

finish Youtube notifications
  Arkadia.sln.DotSettings
  sources/Database/ArkadiaDbContext.cs
  sources/Database/Database.csproj
  sources/Database/IDatabase.cs
  sources/Database/Migrations/20210409000118_InitialCreate.Designer.cs
  sources/Database/Migrations/20210411174105_V02_AddRoleInitialHumanBot.Designer.cs
  sources/Database/Migrations/20210422211300_V03_NewSocialFeaturesAndValueRename.Designer.cs
  sources/Database/Migrations/20210502160754_V04_JoinAndLeaveMessageAutoDelete.Designer.cs
  sources/Database/Migrations/20210503141534_V05_AfkSettings.Designer.cs
  sources/Database/Migrations/20210713150528_V06_EventsModernization.Designer.cs
  sources/Database/Models/Entities/Guild.cs
  sources/Database/SkyraDatabase.cs
  sources/Notifications/Clients/PubSubClient.cs
  sources/Notifications/Clients/YoutubeApiClient.cs
  sources/Notifications/Controllers/PubSubResponseController.cs
  sources/Notifications/Errors/AllParametersNullError.cs
  sources/Notifications/Errors/ChannelInfoRetrievalError.cs
  sources/Notifications/Errors/NullSubscriptionError.cs
  sources/Notifications/Errors/UnconfiguredError.cs
  sources/Notifications/Extensions/ResultExtensions.cs
  sources/Notifications/Managers/SubscriptionManager.cs
  sources/Notifications/Models/Notification.cs
  sources/Notifications/Models/UploadType.cs
  sources/Notifications/Program.cs
  sources/Notifications/Services/YoutubeService.cs
  sources/Notifications/Startup.cs
  sources/Notifications/SubscriptionManager.cs
  sources/Shared/Extensions/UriBuilderExtensions.cs
  sources/Shared/Results/Result.cs
  sources/Shared/Results/ResultStatus.cs
  sources/Shared/Results/Result{T}.cs
  tests/UnitTests/Shared/Extensions/UriBuilderExtensionTests.cs
Owners: none

remove old migrations
  sources/Database/Migrations/20210409000118_InitialCreate.Designer.cs
  sources/Database/Migrations/20210409000118_InitialCreate.cs
  sources/Database/Migrations/20210411174105_V02_AddRoleInitialHumanBot.Designer.cs
  sources/Database/Migrations/20210411174105_V02_AddRoleInitialHumanBot.cs
  sources/Database/Migrations/20210422211300_V03_NewSocialFeaturesAndValueRename.Designer.cs
  sources/Database/Migrations/20210422211300_V03_NewSocialFeaturesAndValueRename.cs
  sources/Database/Migrations/20210502160754_V04_JoinAndLeaveMessageAutoDelete.Designer.cs
  sources/Database/Migrations/20210502160754_V04_JoinAndLeaveMessageAutoDelete.cs
  sources/Database/Migrations/20210503141534_V05_AfkSettings.Designer.cs
  sources/Database/Migrations/20210503141534_V05_AfkSettings.cs
  sources/Database/Migrations/20210713150528_V06_EventsModernization.Designer.cs
  sources/Database/Migrations/20210713150528_V06_EventsModernization.cs
Owners: none

fix warnings, generate new migrations.
  sources/Database/Database.csproj
  sources/Notifications/Clients/YoutubeApiClient.cs
  sources/Notifications/Controllers/PubSubResponseController.cs
  sources/Notifications/Managers/SubscriptionManager.cs
  sources/Notifications/Notifications.csproj
Owners: none

regenerate new migrations
  sources/Database/Migrations/20210801072131_V01_InitialCreate.Designer.cs
  sources/Database/Migrations/20210801072131_V01_InitialCreate.cs
  sources/Database/Migrations/ArkadiaDbContextModelSnapshot.cs
Owners: none

fix warnings
  sources/Notifications/Clients/YoutubeApiClient.cs
  sources/Notifications/Controllers/PubSubResponseController.cs
  sources/Notifications/Managers/SubscriptionManager.cs
Owners: none

fix ci
  .github/workflows/continuous-integration.yml
  coverlet.runsettings
  sources/Database/Database.csproj
  sources/Notifications/Notifications.csproj
Owners: @favna

run cleanup code
  sources/Database/ArkadiaDbContext.cs
  sources/Database/Database.csproj
  sources/Database/Extensions/DbSetExtensions.cs
  sources/Database/Models/Entities/Guild.cs
  sources/Database/Models/Entities/YoutubeSubscription.cs
  sources/Database/Models/UserProfileData.cs
  sources/Directory.Build.props
  sources/Notifications/Clients/PubSubClient.cs
  sources/Notifications/Clients/YoutubeApiClient.cs
  sources/Notifications/Controllers/PubSubResponseController.cs
  sources/Notifications/Managers/SubscriptionManager.cs
  sources/Notifications/Models/Notification.cs
  sources/Notifications/Notifications.csproj
  sources/Notifications/Program.cs
  sources/Notifications/README.md
  sources/Notifications/RequestCache.cs
  sources/Notifications/Services/YoutubeService.cs
  sources/Notifications/Startup.cs
  sources/Shared/EnviromentVariableMissingException.cs
  tests/IntegrationTests/IntegrationTests.csproj
  tests/UnitTests/Database/Extensions/DbSetExtensionTests.cs
  tests/UnitTests/Database/Stubs/TestDbContext.cs
  tests/UnitTests/Database/Stubs/User.cs
  tests/UnitTests/Shared/Extensions/UriBuilderExtensionTests.cs
  tests/UnitTests/UnitTests.csproj
Owners: none

oops
  sources/Notifications/Clients/YoutubeApiClient.cs
Owners: none

fix ci again(?)
  .gitmodules
Owners: none

feat: setup docker image for notifications
  .dockerignore
  .github/workflows/continuous-delivery.yml
  .gitmodules
  .vscode/settings.json
  Dockerfile
  Notifications.Dockerfile
  README.md
  docker-compose.yml
Owners: @favna

chore: fix readme ToC
  .github/workflows/continuous-delivery.yml
  README.md
Owners: @favna

chore: rename docker image
  .github/workflows/continuous-delivery.yml
  README.md
  docker-compose.yml
Owners: @favna

chore: fix package name lower case
  .github/workflows/continuous-delivery.yml
  README.md
  docker-compose.yml
Owners: @favna

docs: update readme ToC
  README.md
Owners: none

docs: fix readme again
  README.md
Owners: none

docs: fix readme for realsies
  README.md
Owners: none

start cdn project
  Arkadia.sln
  sources/Cdn/Cdn.csproj
  sources/Cdn/Controllers/CdnController.cs
  sources/Cdn/Program.cs
  sources/Cdn/Properties/launchSettings.json
  sources/Cdn/Protos/greet.proto
  sources/Cdn/Services/GreeterService.cs
  sources/Cdn/Startup.cs
  sources/Cdn/appsettings.Development.json
  sources/Cdn/appsettings.json
  sources/Database/ArkadiaDbContext.cs
  sources/Database/Database.csproj
  sources/Database/Models/Entities/CdnEntry.cs
  sources/Notifications/Notifications.csproj
Owners: none

remove default proto and service
  sources/Cdn/Protos/greet.proto
  sources/Cdn/Services/GreeterService.cs
Owners: none

404 brain not found
  sources/Cdn/Cdn.csproj
  sources/Notifications/Notifications.csproj
Owners: none

whoops
  sources/Cdn/Services/CdnService.cs
Owners: none

add Get() endpoint
  sources/Cdn/Services/CdnService.cs
  sources/Cdn/Startup.cs
Owners: none

add macro for dbcontext
  Arkadia.sln.DotSettings
  sources/Cdn/Services/CdnService.cs
Owners: none

fix macro
  .idea/.idea.Arkadia/.idea/dictionaries/sirbr.xml
Owners: none

add Add() endpoint
  sources/Cdn/Services/CdnService.cs
Owners: none

add Delete() endpoint
  sources/Cdn/Services/CdnService.cs
Owners: none

downgrade to .NET 5.0
  sources/Cdn/Cdn.csproj
Owners: none

requested changes
  sources/Cdn/Controllers/CdnController.cs
  sources/Cdn/Services/CdnService.cs
Owners: none

fix name, update assets
  sources/Cdn/Controllers/CdnController.cs
Owners: none
